In [24]:
import pandas as pd
import numpy as np
from oak_hackaton.utils import load_json

In [25]:
student_data = pd.read_excel("/Users/alex/Desktop/Code/Oak_hackathon/oak_hackathon/oak_data/Example_student_marks.xlsx")
student_data.head()

                 Paper  Question Content domain reference  Thread   Answer
0  Paper 1: arithmetic         1                     3N2b  Number  Correct
1  Paper 1: arithmetic         2                      4C7  Number  Correct
2  Paper 1: arithmetic         3                      4F8  Number  Correct
3  Paper 1: arithmetic         4                      3C7  Number  Correct
4  Paper 1: arithmetic         5                      4C2  Number  Correct

In [26]:
student_data["Answer"] = student_data["Answer"].map({"Correct": 1, "Incorrect":0})

In [27]:
student_data_mean = student_data.groupby("Thread")["Answer"].mean()

In [28]:
student_data_mean

Thread
Algebra                 0.666667
Geometry and measure    0.300000
Number                  0.666667
Ratio and Proportion    0.600000
Statistics              0.400000
Name: Answer, dtype: float64

In [29]:
thread_to_unit_mapping = load_json("/Users/alex/Desktop/Code/Oak_hackathon/oak_hackathon/oak_data/thread_to_unit_mapping.json")

In [30]:
thread_to_unit_mapping

{'Estimation and rounding': 'Number',
 'Sequences': 'Algebra',
 'Graphical representations of linear equations': 'Algebra',
 'Solving linear equations': 'Algebra',
 'Understanding multiplicative relationships: percentages and proportionality': 'Ratio and Proportion',
 'Graphical representations of data': 'Statistics',
 'Numerical summaries of data': 'Statistics',
 'Perimeter, area and volume': 'Geometry and measure',
 'Geometrical properties: polygons': 'Geometry and measure',
 'Constructions': 'Geometry and measure'}

In [31]:
student_data

,Paper,Question,Content domain reference,Thread,Answer
0,Paper 1: arithmetic,1,3N2b,Number,1
1,Paper 1: arithmetic,2,4C7,Number,1
2,Paper 1: arithmetic,3,4F8,Number,1
3,Paper 1: arithmetic,4,3C7,Number,1
4,Paper 1: arithmetic,5,4C2,Number,1
...,...,...,...,...,...
78,Paper 2: reasoning,8,6A2,Algebra,1
79,Paper 2: reasoning,8,6A2,Algebra,1
80,Paper 2: reasoning,8,6A2,Algebra,1
81,Paper 3: reasoning,18,6R1,Ratio and Proportion,1
82,Paper 3: reasoning,18,6R1,Ratio and Proportion,1

In [32]:
df = pd.DataFrame(columns=["Units", "Threads", "Score"])

In [33]:
df["Units"] = thread_to_unit_mapping.keys()

In [34]:
df["Threads"] = df["Units"].map(thread_to_unit_mapping)

In [35]:
df["Score"] = df["Threads"].map(student_data_mean)

In [36]:
df

,Units,Threads,Score
0,Estimation and rounding,Number,0.666667
1,Sequences,Algebra,0.666667
2,Graphical representations of linear equations,Algebra,0.666667
3,Solving linear equations,Algebra,0.666667
4,Understanding multiplicative relationships: pe...,Ratio and Proportion,0.600000
5,Graphical representations of data,Statistics,0.400000
6,Numerical summaries of data,Statistics,0.400000
7,"Perimeter, area and volume",Geometry and measure,0.300000
8,Geometrical properties: polygons,Geometry and measure,0.300000
9,Constructions,Geometry and measure,0.300000

In [37]:
df["Personalised_lesson_weights"] = 1-df["Score"]

In [38]:
df["Personalised_lesson_weights"] = df["Personalised_lesson_weights"]/df["Personalised_lesson_weights"].sum()

In [39]:
df

,Units,Threads,Score,Personalised_lesson_weights
0,Estimation and rounding,Number,0.666667,0.066225
1,Sequences,Algebra,0.666667,0.066225
2,Graphical representations of linear equations,Algebra,0.666667,0.066225
3,Solving linear equations,Algebra,0.666667,0.066225
4,Understanding multiplicative relationships: pe...,Ratio and Proportion,0.600000,0.079470
5,Graphical representations of data,Statistics,0.400000,0.119205
6,Numerical summaries of data,Statistics,0.400000,0.119205
7,"Perimeter, area and volume",Geometry and measure,0.300000,0.139073
8,Geometrical properties: polygons,Geometry and measure,0.300000,0.139073
9,Constructions,Geometry and measure,0.300000,0.139073

In [40]:
# Calculate weeks for each unit
total_weeks = 36
df['weeks'] = np.round(df['Personalised_lesson_weights'] * total_weeks).astype(int)

# Adjust weeks to ensure total is exactly 36
diff = total_weeks - df['weeks'].sum()
df.loc[df['weeks'].idxmax(), 'weeks'] += diff

In [42]:
df

,Units,Threads,Score,Personalised_lesson_weights,weeks
0,Estimation and rounding,Number,0.666667,0.066225,2
1,Sequences,Algebra,0.666667,0.066225,2
2,Graphical representations of linear equations,Algebra,0.666667,0.066225,2
3,Solving linear equations,Algebra,0.666667,0.066225,2
4,Understanding multiplicative relationships: pe...,Ratio and Proportion,0.600000,0.079470,3
5,Graphical representations of data,Statistics,0.400000,0.119205,4
6,Numerical summaries of data,Statistics,0.400000,0.119205,4
7,"Perimeter, area and volume",Geometry and measure,0.300000,0.139073,7
8,Geometrical properties: polygons,Geometry and measure,0.300000,0.139073,5
9,Constructions,Geometry and measure,0.300000,0.139073,5